.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.2s linear;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}